# Copyright (c) 2024 CATIE
# SPDX-License-Identifier: Apache-2.0

menuconfig 2SMPB_02E
    bool "OMRON 2SMPB_02E digital barometric pressure sensor"
    default y
    depends on DT_HAS_OMRON_2SMPB_02E_ENABLED
    help
      Enable driver for OMRON 2SMPB_02E digital barometric pressure sensor.
